<!DOCTYPE html>
<html lang="en">
<head>
    <!-- icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- socketio -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA==" crossorigin="anonymous"></script>
    
    
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- lodash -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>

    <!-- GLFX library for image distortion WebGL (https://evanw.github.io/glfx.js/docs/) -->
    <script src="{{url_for('static', filename='/glfx.js')}}"></script>

    <!-- google Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
    <!-- custom css -->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='chatroom.css')}}">
    
<!-- TensorflowJS -->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.2"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/body-pix@2.0"></script>

    <script type="text/javascript"> 
        var myRoomID = "{{room_id}}"; 
        var myName = "{{display_name}}"; 
        var audioMuted = "{{mute_audio}}"=="0";
        var videoMuted = "{{mute_video}}"=="1";
        console.log(">> {{mute_audio}}, {{mute_video}}", audioMuted, videoMuted);
    </script>
    <script type="text/javascript">
        let scenarios = {};
        let filters = {};
    </script>
    
    <script src="{{url_for('static', filename='/scenarios/space_wiggle.js')}}"></script>
    <script src="{{url_for('static', filename='/scenarios/emotion_tracker.js')}}"></script>
    <script src="{{url_for('static', filename='/scenarios/club_virfie.js')}}"></script>

    <script src="{{url_for('static', filename='chatroom_ui.js')}}"></script>
    <script src="{{url_for('static', filename='chatroom_networking.js')}}"></script>
    <script src="{{url_for('static', filename='chatroom_scene_control.js')}}"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virfie [{{room_id}}]</title>
</head>
<body>
    
    <div class="heading">
        <div class="room-info">
            <h4>Virfie</h4>
            Room: {{room_id}}, Nick Name: {{display_name}} Room id: {{room_id}}
        </div>
        <div class="controls">
            <button id="call_end" class="btn btn-warning">Exit Room</button>
        </div>
    </div>
    <div class="main">
        <div class="div_webcam_selector">
            <select name="webcam" id="select_webcam">
                <option value="" disabled selected>Select webcam to use</option>
            </select>
            <div id="div_local_vid">
                <div class="vid-wrapper">
                    <label class="overlay_message">Choose camera first</label>
                    <video id="local_vid" width="800" height="600" autoplay muted></video>
                    <canvas id="local_vid_canvas"></canvas>
                </div>
                <div id="video_grid" class="video-grid"></div>
            </div>
            <div class="div_composition_setting">
                <select name="scenario" id="select_scenario">
                    <option value="" disabled>Select a Scenario</option>
                    <option value="space_wiggle" selected>Space Wiggle</option>
                    <option value="emotion_tracker">Emotion Tracker</option>
                    <option value="club_virfie">Club Virfie</option>
                </select>
                <button id="start_scene" class="btn btn-primary" onclick="toggle_video_composition()">Start Video Composition</button>
                <div class="composition_controls">
                    <!-- <button class="btn btn-outline-secondary btn-sm" id="revert">Revert</button>
                    <button class="btn btn-outline-secondary btn-sm" id="share">Share</button> -->
                    <span class="framerate_holder">
                        <input type='text' id="framerate_input" value="5"/>
                        fps
                    </span>
                    <button class="btn btn-outline-secondary btn-sm" id="prevScene">&larr; Prev</button>
                    <button class="btn btn-outline-secondary btn-sm" id="nextScene">&rarr; Next</button>
                </div>
                <textarea id="composition_editor"></textarea>
                <button id="start_scene" class="btn btn-primary" onclick="updateConmposition()">Update Video Composition</button>
            </div>
        </div>    
        <div id="div_composite_video">
            <div id="composite_vid_wrapper">
                <canvas id="composite_vid" width="800" height="600"></canvas>
                <button id="snapshot" onclick="take_snapshot()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-camera" viewBox="0 0 16 16">
                    <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"/>
                    <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                    </svg>
                </button>
                <button id="fullscreen" onclick="toggle_fullscreen()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-fullscreen" viewBox="0 0 16 16">
                        <path d="M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1h-4zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zM.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </button>

            </div>
            <div id="snapshot_list">
                <!-- <label>Snapshots</label> 
                <a onclick="download_snapshots()">
                    Download All
                </a> -->
                <ul>
                </ul>
            </div>
        </div>
        
    </div>
    
</body>
</html>