<!DOCTYPE html>
<html lang="en">
<head>
    <!-- icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- socketio -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA==" crossorigin="anonymous"></script>
    
    
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- lodash -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>

    <!-- google Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
    <!-- custom css -->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='chatroom.css')}}">
    
<!-- TensorflowJS -->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.2"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/body-pix@2.0"></script>

    <script type="text/javascript"> 
        var myRoomID = "{{room_id}}"; 
        var myName = "{{display_name}}"; 
        var audioMuted = "{{mute_audio}}"=="0";
        var videoMuted = "{{mute_video}}"=="1";
        console.log(">> {{mute_audio}}, {{mute_video}}", audioMuted, videoMuted);
    </script>
    <script src="{{url_for('static', filename='chatroom_ui.js')}}"></script>
    <script src="{{url_for('static', filename='chatroom_networking.js')}}"></script>
    <script src="{{url_for('static', filename='chatroom_scene_control.js')}}"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virfie [{{room_id}}]</title>
</head>
<body>
    
    <div class="heading">
        <div class="room-info">
            <h4>Virfie</h4>
            Room: {{room_id}}, Nick Name: {{display_name}} Room id: {{room_id}}
        </div>
        <div class="controls">
            <button id="call_end" class="btn btn-warning">Exit Room</button>
            <button id="start_scene" class="btn btn-info" onclick="toggle_video_composition()">Start Video Composition</button>
            
        </div>
    </div>
    <div class="main">
        <div class="div_webcam_selector">
            <select name="webcam" id="select_webcam">
                <option value="" disabled selected>Select webcam to use</option>
            </select>
            <div id="div_local_vid">
                <div class="vid-wrapper">
                    <label class="overlay_message">Choose camera first</label>
                    <video id="local_vid" width="640" height="480" autoplay muted></video>
                    <canvas id="local_vid_canvas" width="640" height="480" ></canvas>
                </div>
                <div id="video_grid" class="video-grid"></div>
            </div>
            <div class="div_composition_setting">
                <div class="composition_controls">
                    <button class="btn btn-outline-secondary btn-sm" id="revert">Revert</button>
                    <button class="btn btn-outline-secondary btn-sm" id="share">Share</button>
                    <button class="btn btn-outline-secondary btn-sm" id="prevScene">&larr; Prev</button>
                    <button class="btn btn-outline-secondary btn-sm" id="nextScene">&rarr; Next</button>
                </div>
                <textarea id="composition_setting"></textarea>
            </div>
        </div>    
        <div id="div_composite_video">
            <canvas id="composite_vid"></canvas>
        </div>
        
    </div>
    
</body>
</html>